body {
    background-color: rgb(214, 214, 214);
}

#content {
    padding-top: 10px;
    padding-bottom: 100px;
    display: block;
    text-align: center;
}

#centered-all {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.solid-panel {
    display: inline-block;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px 0px rgb(77, 123, 223);
}

input:active {
    box-shadow: 0 0 5px 0px rgb(77, 123, 223);
    border: none;
}

.icon-button {
    cursor: pointer;
    margin: 0;
    min-height: 20px;
    min-width: 20px;
    padding: 5px;
    text-align: center;
}

#route-container {
    width: 400px;
    max-width: 40%;
    text-align: left;
    margin-right: 25px;
}

#map-container {
    float: right;
    min-height: 400px;
    max-width: 60%;
}
