
.route-point {
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding-bottom: 2px;
}

.route-point div {
  font-size: 16px;
  display: inline-block;
  margin: 3px 5px 3px 5px;
  padding: 3px;
}

input {
  border: none;
  cursor: text;
  float: none;
  font-size: 16px;
  margin: 0 10px 2px 5px;
  overflow: auto;
  padding: 5px;
  width: 100%;
}

input:hover {
  box-shadow: 0 0 5px 0px #4d7bdf inset;
  overflow: hidden;
}

.route-new-point {
  margin: 5px 0 5px 0;
  padding-right: 20px;
}

.route-new-point input::placeholder {
  color: #808080;
  font-style: italic;
}

.route-list-box-dragged div {
  user-select: none;
  cursor: grabbing;
}

.route-point-edit {
  display: flex;
  margin-bottom: 4px;
}

.route-point-edit div{
  float: left;
}

.route-point-edit input {
  margin: 0 5px 0 5px;
}

.route-no-points {
  font-style: italic;
  padding: 50px 25px 50px 25px;
  text-align: center;
}