@import '~leaflet/dist/leaflet.css';

.map-container {
  padding: 5px;
}

.leaflet-container { 
  width: 600px;
  height: 400px; 
}

.map-point-info {
  margin: 15px 0 2px 0;
}

.map-point-info>div {
  display: flex;
  align-items: center;
}

.map-point-dists {
  display: block;
}

.map-point-dists>div {
  display: flex;
}

.info-icon {
  margin-right: 5px;
  min-width: 20px;
  text-align: center;
}
